{% if sh == 'close' %}
<input type="hidden" name="sh" value="open">
<li>
    <span style="width:12em;">
        <div style="margin-left: 1em;">
            <h3> 搜尋不動產 </h3>
            {{ location.as_p }}

            <p> 搜尋類型：<p>
            <input type="checkbox" name="sign" value="房地(土地+建物)" checked> 房地
            <input type="checkbox" name="sign" value="房地(土地+建物)+車位" checked> 房地+車位 <br><br>
            <input type="checkbox" name="sign" value="土地"> 土地
            <input type="checkbox" name="sign" value="建物"> 建物
            <input type="checkbox" name="sign" value="車位"> 車位 <br><br>

            <!-- <label for="id_sort">排序：</label>
            <select name="sort" id="id_sort">
                <option value="time_latest">時間最近</option>
                <option value="time_oldest">時間最遠</option>
                <option value="price_high">價格最高</option>
                <option value="price_low">價格最低</option>
                <option value="area_large">面積最大</option>
                <option value="area_small">面積最小</option>
            </select> <br> -->
            
            <!-- <button type="button" hx-get="search_house" hx-target="#search_house" onclick="location.href='#'">清除</button> -->
        </div>
    </span>
</li>
<li>
    <span  style="width:12em;">
        <div style="margin-left: 1em;">
            <h3> 進階篩選 </h3>
            <p><input class="form__field" name="address" placeholder="路名/地址/地段" style="width: 200px;"></p>
            <label for="id_type">建物型態：</label>
            <select name="type" id="id_type">
                <option value="">不限</option>
                <option value="套房">套房</option>
                <option value="公寓">公寓</option>
                <option value="華廈">華廈</option>
                <option value="住宅大樓">住宅大樓</option>
                <option value="透天厝">透天厝</option>
                <option value="店面">店面</option>
                <option value="其他">其他</option>
            </select>
            <p><input class="form__field" name="room" placeholder="0" style="width: 15px;">房 
            <input class="form__field" name="hall" placeholder="0" style="width: 15px;">廳 
            <input class="form__field" name="bath" placeholder="0" style="width: 15px;">衛 (以上)</p>
            <button type="button" hx-get="result_house" hx-target="#result_house" hx-include="[name='sign'],[name='縣市'], [name='鄉鎮市區'], [name='address'], [name='type'], [name='room'], [name='hall'], [name='bath'], [name='sort']">查詢&#187;</button>
        </div>
    </span>
</li>
<li>
    <span>
        <div id="result_house" style="margin-left: 1em;">
            <div>
                <h3> 行情趨勢 </h3>
                <p> 單價：0 萬元/坪 <p>
                <p> 交易量：0 筆 </p>
            </div>
            <!-- <div>
                <h3> 交易個案(前50筆) </h3>
            </div> -->
        </div>
    </span>
</li>

{% else %}
<input type="hidden" name="sh" value="close">
{% endif %}